
<label>User Name</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="username"
>

<p>Current user: {{username}}</p>
<button 
    class="btn btn-primary"
    [disabled]="username===''"
    (click)="username = ''"
>
    Reset User
</button>

<hr>
<label>Server Name</label>
<!-- <input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->

<input 
    type="text"
    class="form-control" 
    [(ngModel)]="serverName"
>

<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
>
    Add Server
</button>

<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">Server {{serverName}} was created</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>

<hr>
<app-server *ngFor="let server of serversArray"></app-server>


